.msgBoxe{
	width: 20vw;
	position: fixed;
	top: 0;
	right: 40vw;
	color: rgb(210,210,210);
	background-color: rgba(000,80,20,0.99);
	text-align:center;
	padding:30px 0;
	font-size: 10px;
	opacity:1;
	z-index:1;
	border-radius:15px;
}
